body{background: #cb200a;}
input:focus,
textarea:focus {
    outline: none;
    border: none;
    box-shadow:none;
}
.container{text-align: center;font-size: 0.4rem;background:#dc0f16; }
/*头部*/
.head_bg{width: 10rem;height: 5.44rem;background: url(../moblie/head_bg.png) no-repeat;background-size:cover;}
.head_0{width: 10rem;height: 2.5333rem;background: url(../moblie/head_bg0.png) no-repeat;background-size:cover;}
.head_0>p{text-align: center;color: #ffd971;font-size: 0.32rem;padding-top:  0.1333rem;}
/*规则*/
.rules_head{width: 10rem;height: 1.2rem; background: url(../moblie/rules_head.png) no-repeat;background-size:cover;margin-top: -0.1rem;}
.rules_head>p{font-size:0.48rem;color:#ffd971;text-align: center;font-weight: bold;line-height:0.5rem;}
.rules_cont{width: 10rem;height:7.1067rem;background: url(../moblie/rules_bg.png) no-repeat;background-size:cover;}
.rules_cont>p.h1{color: #dc0f16;font-size:  0.3733rem;padding-top: 0.8267rem;}
.rules_cont>ul{width: 7.4667rem;display: inline-block;padding-top:  0.5rem;}
.rules_cont>ul li{padding-bottom: 0.2rem;}
.rules_cont>ul li i{color: #dc0f16;font-size: 1rem;width: 0.96rem; }
.rules_cont>ul li i.icon-res{font-size: 0.85rem;}
.rules_cont>ul li i.icon-ok{font-size: 0.85rem;}
.rules_cont>ul li span{color: #dc0f16;font-size: 0.3733rem;font-weight: bold;padding-top: 0.1rem;padding-left:  0.4rem;}
.rules_cont>ul li span.on1{padding-top: 0.01rem;}
.rules_cont>ul li span.on2{padding-top: 0.01rem;}
.rules_cont>ul li span b{font-size:  0.48rem;font-weight: bold;padding: 0 0.1rem 0 0.1rem;}
.rules_cont>p.cont{font-size:0.3733rem;color: #dc0f16;padding-top: 0.2rem;}
/*抽奖*/
.draw_head{text-align: center; width:10rem;height:3.1733rem;background: url(../moblie/draw_head.png) no-repeat;background-size:cover; }
.draw_head p.tip{color: #ffd8a8;font-size: 0.32rem;padding-top: 0.4rem;height: 1.4rem;}
.draw_head p.h1{color: #ffd971;font-size:  0.48rem;font-weight: bold;padding-top:0.1rem;}

.draw_cont{width: 10rem;height: 6.68rem; background: url(../moblie/draw_cont.png) no-repeat;background-size:cover;}
.draw_cont p.time{color: #dc0f16;font-size: 0.3733rem;padding-top:0.5rem;font-weight:bold;}
.draw_cont .choujiang{position: relative; width:10rem;height:1.7rem;display:inline-block;padding-top: 0.8rem;}
.draw_cont .choujiang .num_box{height:60px;
  width:300px;
  position: absolute;
  left:50%;
  top:0.8rem;
  margin-left: -117px;
  z-index: 8;
  overflow: hidden;
  text-align: center;}
.draw_cont .choujiang .num_box .num {
  background: url(../moblie/num.png) top center repeat-y;
  width:65px;
  height: 60px;
  float: left;
  background-size:100%;
  margin-right:20px;
}



.draw_cont p.tip{font-size: 0.2667rem;color: #dc0f16;width: 8.4667rem;display: inline-block;text-align: left;padding-top:0.7rem;font-weight: bold; }
.draw_cont .save {width: 8.4667rem;display: inline-block;padding-top: 0.3067rem;}
.draw_cont .save a.btn{font-weight: bold;color: #ffd401;text-align: center;line-height:0.4rem;font-size: 0.4267rem;  width:2.5rem;height: 0.4rem; background: url(../moblie/btn.png) no-repeat;background-size:contain;}
.draw_cont .save a.btn.bg{background: url(../moblie/btn0.png) no-repeat;background-size:contain; }
.draw_cont .save>p{color:#940e19;font-size:0.32rem;line-height: 2.3;margin-left: 0.4rem;font-weight: bold;}
.draw_cont .save>p em{color: #dc0f16;font-weight: bold;}
/*底部*/
.footer{width: 10rem;height:13.8667rem;background: url(../moblie/footer_bg.png) no-repeat;background-size:cover;}
.footer .list{width: 8.4667rem;display: inline-block;padding-top: 0.3rem;margin-left: 0.1rem;}
.footer .list p em{font-weight: bold; font-size: 0.4rem;color:#f4c890;display: inline-block;text-align: left;line-height:  0.6rem;}
.footer .list p em.em1{width: 1.3rem;}
.footer .list p em.em2{width: 5rem;}
.footer .list p em.em3{width: 1.3rem;text-align: right;}


.footer .list_u{padding-top:1.2rem; width: 8.4667rem;display: inline-block;}
.footer .list_u ul{margin-left: 0.6rem;}
.footer .list_u ul li{float: left;padding-bottom:  0.4rem;}
.footer .list_u ul li.on{margin-right:1.7333rem;}
.footer .list_u ul li .img{width:2.7733rem;height: 2.2133rem;overflow: hidden;display:block;margin: 0 auto; }
.footer .list_u ul li .img img{width: 100%;height: 100%;}
.footer .list_u ul li span{padding:0 0.2rem 0.05rem 0.2rem; border-radius: 0.2rem; color: #efc28b;font-size:0.4rem; }

.footer .p1{color: #ffd8a8;font-size: 0.32rem;}
.footer .logo {margin-top: 0.55rem;padding-bottom: 0.2rem;width: 0.9333rem;height:0.9333rem;display: inline-block;text-align: center;line-height:  0.9333rem;background: url(../moblie/i_bg.png) no-repeat;background-size:contain;}
.footer .logo i{margin-top: 0.15rem; font-size: 0.7rem;color: #fff;opacity: 0.2;display: inline-block; }
/*弹框*/
.mask{display: none; height:100%; width:100%;position:fixed; top:0;left: 0; z-index:10000;opacity:0.5; filter: alpha(opacity=50); background-color:#000;}

.close_box{position:absolute;top: 0.2667rem;right: 0.2667rem;width: 0.5rem;height: 0.5rem;display: inline-block;}
.close_box .icon-close{cursor: pointer; font-size: 0.5rem;color: #7f7f7f;width:  0.5rem;height: 0.5rem;display: inline-block;}
/*   <!-- 无抽奖次数 -->*/
.none_box{display: none; text-align: left; width:7.4rem;background: #fff;position:fixed;top:4rem;left:50%;margin-left: -3.7rem;z-index:10001;}
.none_main{position: relative;padding:1.5rem 0.64rem 1.5rem 0.64rem;font-size:0.48rem ;text-align: center; color: #858585;}
/*   <!-- 未中奖 -->*/
.not_win_box{ width:7.4rem;background: #fff;position:fixed;top:4rem;left:50%;margin-left: -3.7rem;z-index:10001;}
.not_win_main{position: relative;padding:1.5rem 0.64rem 1.5rem 0.64rem;text-align: center;}
.not_win_main p.title{color: #e74c3c;font-size: 0.48rem;font-weight: bold;padding-bottom: 0.4rem;}
.not_win_main p.p1{color:#858585;font-size: 0.48rem;font-weight: bold;padding-bottom: 0.4rem;}
.not_win_main p.p2{color: #858585;font-size: 0.4267rem;padding-bottom: 0.6rem;}
.not_win_main>a{color: #e74c3c;font-size: 0.4rem;text-align: center;width: 2.8667rem;height:0.9333rem;line-height: 0.9333rem; border: 1px solid #e74c3c;display: block;margin: 0 auto;}
/*   <!-- 中奖 -->*/
.win_box{display: none; width:7.4rem;background: #fff;position:fixed;top:1.5rem;left:50%;margin-left: -3.7rem;z-index:10001;}
.win_main{position: relative;padding:1.5rem 0.64rem 1.5rem 0.64rem;text-align: center;}
.win_main p.title{color: #e74c3c;font-size: 0.48rem;font-weight: bold;padding-bottom: 0.4267rem; }
.win_main>p{color: #858585;font-size:0.4267rem;}
.win_main>p>em{color:#e74c3c;}
.win_main>form{padding-top: 0.8rem;color: #858585;font-size: 0.4rem;}
.win_main>form span{padding-right: 0.5rem;}
.win_main form .peo {border-bottom:1px solid #858585;margin-bottom: 0.8rem;}
.win_main form .peo input{width:3.7333rem;height: 0.5333rem;border:none;}
.win_main form .are{padding-bottom: 0.8rem;}
.win_main form .are .are_min textarea{padding:0.1067rem 0.3733rem;width: 2.9333rem;height:1.8rem;border:1px solid #a4a4a4;}
.win_main form button{outline: none;width:2.8667rem;height: 0.9333rem;color:#dc0f16; border:1px solid #e74c3c; background: none;font-size:0.3733rem;text-align:center;display: inline-block;}
/*<!-- 点击提交 -->*/

.save_box {display: none; width:7.4rem;background: #fff;position:fixed;top:4rem;left:50%;margin-left: -3.7rem;z-index:10001;}
.save_main{position: relative;padding:1.5rem 0.64rem 1.5rem 0.64rem;text-align: center;}
.save_main>p{font-size:0.48rem;color: #858585;}
.save_main>p>em{color: #e74c3c;}















